@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.color {
    color: #07020D;
    color: #5DB7DE;
    color: #F1E9DB;
    color: #A39B8B;
    color: #716A5C;
    color: #07020da7;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    font-size: small;
}
img {
    width: 150px;
}
table {
    width: 1000px;
    margin: 0 auto;
    background-color: #F1E9DB;
    text-align: center;
    border: 2px solid #716A5C;
    border-collapse: collapse;
}
th {
    border-bottom: 2px solid #716A5C;
    background-color: #5DB7DE;
    padding: 16px;
}
td {
    border: 2px solid #716A5C;
    padding: 16px;
}
tr:nth-child(odd) {
    background-color: #A39B8B;
    font-weight: 900;
    color: red;
}
tr:hover {
    background-color: #5DB7DE;
}
section {
    width: 90%;
    margin: 32px 0 auto;
}
video {
    width: 100%;
    margin: 32px auto;
}
iframe {
    width: 100%;
    height: 450px;
    border: none;
}